@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");
@font-face {
  font-family: 'BreveText-Bold';
  src: url("../fonts/BreveText-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'BreveText-Book';
  src: url("../fonts/BreveText-Book.woff2") format("woff2");
}

@font-face {
  font-family: 'BreveText-BookItalic';
  src: url("../fonts/BreveText-BookItalic.woff2") format("woff2");
}

@font-face {
  font-family: 'LabGrotesque-Black';
  src: url("../fonts/LabGrotesque-Black.woff2") format("woff2");
}

@font-face {
  font-family: 'LabGrotesque-Bold';
  src: url("../fonts/LabGrotesque-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'ProximaNova-RegularItalic';
  src: url("../fonts/ProximaNova-RegularItalic.woff2") format("woff2");
}

body {
  margin: 0;
  overflow-x: hidden;
}

.main_title_div {
  padding: 2.5em;
  width: calc(100% - 5em);
  height: 2.5em;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 30px 0 #888888;
          box-shadow: 0 0 30px 0 #888888;
}

.main_title {
  text-decoration: none;
  float: left;
  font-size: 2.5em;
  color: #141916;
  font-family: 'BreveText-BookItalic';
  font-weight: 900;
}

.footer_title_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2.5em;
  width: calc(100% - 5em);
  height: 2.5em;
  background-color: #141916;
  -webkit-box-shadow: 0 0 30px 0 #888888;
          box-shadow: 0 0 30px 0 #888888;
}

.footer_title {
  text-align: left;
  text-decoration: none;
  font-size: 1.5em;
  color: #ffffff;
  font-family: 'BreveText-BookItalic';
  font-weight: 900;
}

.footer_logo {
  height: 2em;
  -webkit-transform: translateX(-4.5em);
          transform: translateX(-4.5em);
}

.foot_logo_block {
  fill: #ffffff;
}

.footer_news_api {
  text-align: right;
  text-decoration: none;
  font-size: 1.5em;
  color: #ffffff;
  font-family: 'Bree Serif', serif;
  font-weight: 300;
  cursor: pointer;
}

.title_breaking_news {
  padding: 2.5em;
  height: 2.5em;
}

.title_breaking {
  text-decoration: none;
  float: left;
  font-size: 2.5em;
  color: #141916;
  font-family: 'ProximaNova-Regular';
  font-weight: 900;
}

.all_breaking_news {
  padding-right: 2.5em;
}

.all_breaking_news ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 2em;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.all_breaking_news ul li {
  list-style: none;
  background-color: #ffd700;
  -webkit-box-shadow: 0 0 10px 0 #888888;
          box-shadow: 0 0 10px 0 #888888;
  border-radius: 0.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2em;
  padding: 2em;
}

.breaking_article_title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  grid-row: 1;
  text-decoration: none;
  float: left;
  font-size: 1.5em;
  color: #141916;
  font-family: 'BreveText-Bold';
  font-weight: 900;
}

.breaking_article_img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  grid-row: 2;
  height: 10em;
  width: 100%;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 10px 0 #888888;
          box-shadow: 0 0 10px 0 #888888;
  -o-object-fit: cover;
     object-fit: cover;
}

.breaking_article_content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  grid-row: 3;
  text-decoration: none;
  float: left;
  font-size: 1em;
  color: #141916;
  font-family: 'ProximaNova-Regular';
  font-weight: 900;
}

.breaking_article_author {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 4;
  grid-row: 4;
  text-decoration: none;
  float: left;
  font-size: 1em;
  color: #141916;
  font-family: 'BreveText-Bold';
  font-weight: 900;
}

.breaking_article_url {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 4;
  grid-row: 4;
  text-decoration: none;
  float: left;
  font-size: 1em;
  color: #141916;
  font-family: 'BreveText-Bold';
  font-weight: 900;
}

.title_tech_news {
  padding: 2.5em;
  height: 2.5em;
}

.title_tech {
  text-decoration: none;
  float: left;
  font-size: 2.5em;
  color: #141916;
  font-family: 'ProximaNova-Regular';
  font-weight: 900;
}

.all_tech_news {
  padding-right: 2.5em;
}

.all_tech_news_block_1 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 2em;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-bottom: 1em;
}

.all_tech_news_block_2 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 2fr;
  grid-auto-rows: auto;
  grid-gap: 2em;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-bottom: 1em;
}

.all_tech_news_block_3 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 2em;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-bottom: 1em;
}

.all_tech_news_block_4 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 2em;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-bottom: 1em;
}

.all_tech_news_block_1 ul li {
  list-style: none;
  -webkit-box-shadow: 0 0 10px 0 #888888;
          box-shadow: 0 0 10px 0 #888888;
  border-radius: 0.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2em;
  padding: 2em;
}

.all_tech_news_block_2 ul li {
  list-style: none;
  -webkit-box-shadow: 0 0 10px 0 #888888;
          box-shadow: 0 0 10px 0 #888888;
  border-radius: 0.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2em;
  padding: 2em;
}

.all_tech_news_block_3 ul li {
  list-style: none;
  -webkit-box-shadow: 0 0 10px 0 #888888;
          box-shadow: 0 0 10px 0 #888888;
  border-radius: 0.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2em;
  padding: 2em;
}

.all_tech_news_block_4 ul li {
  list-style: none;
  -webkit-box-shadow: 0 0 10px 0 #888888;
          box-shadow: 0 0 10px 0 #888888;
  border-radius: 0.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2em;
  padding: 2em;
}

.tech_article_title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  grid-row: 1;
  text-decoration: none;
  float: left;
  font-size: 1.5em;
  color: #141916;
  font-family: 'BreveText-Bold';
  font-weight: 900;
}

.tech_article_img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  grid-row: 2;
  height: 10em;
  width: 100%;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 10px 0 #888888;
          box-shadow: 0 0 10px 0 #888888;
  -o-object-fit: cover;
     object-fit: cover;
}

.tech_article_content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  grid-row: 3;
  text-decoration: none;
  float: left;
  font-size: 1em;
  color: #141916;
  font-family: 'ProximaNova-Regular';
  font-weight: 900;
}

.tech_article_author {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 4;
  grid-row: 4;
  text-decoration: none;
  float: left;
  font-size: 1em;
  color: #141916;
  font-family: 'BreveText-Bold';
  font-weight: 900;
}

.tech_article_url {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 4;
  grid-row: 4;
  text-decoration: none;
  float: left;
  font-size: 1em;
  color: #141916;
  font-family: 'BreveText-Bold';
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .all_breaking_news ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=newest.css.map */